{% extends "base.html" %}

{% block announce %}
  <!-- Add announcement here, including arbitrary HTML -->
  <!-- New paper accepted in <a href="https://doi.org/10.1109/LRA.2025.3592085">IEEE Robotics and Automation Letters (RA-L)</a>. Head to the <a href="https://autodrive-ecosystem.github.io/research">RESEARCH</a> tab to learn more. -->
  Registrations for the <a href="https://autodrive-ecosystem.github.io/competitions/roboracer-sim-racing-cdc-tf-2025/">4th RoboRacer Sim Racing League</a> are now OPEN! Click <a href="https://forms.gle/wGQYoxS1ddevHMcu7">here</a> to register your team today!
{% endblock %}