{% extends "base.html" %}

{% block announce %}
  <!-- Add announcement here, including arbitrary HTML -->
  Please join us for the <a href="https://css.paperplaza.net/conferences/conferences/CDC24/program/CDC24_ContentListWeb_1.html#moevsp1_01">celebration event</a> of the 2nd F1TENTH Sim Racing League @ CDC 2024 on Monday (Dec 16, 2024) between 18:00-19:00 CET! Learn more <a href="https://www.linkedin.com/posts/autodrive-ecosystem_cdc2024-autodrive-f1tenth-activity-7274413681344483328-euAK">here</a>.
{% endblock %}