{% extends "base.html" %}

{% block announce %}
  <!-- Add announcement here, including arbitrary HTML -->
  <!-- New paper accepted in <a href="https://doi.org/10.1109/MRA.2026.3683252">IEEE Robotics and Automation Magazine (RA-M)</a>. Head to the <a href="https://autodrive-ecosystem.github.io/research">RESEARCH</a> tab to learn more. -->
  Registrations for the <a href="https://autodrive-ecosystem.github.io/competitions/roboracer-sim-racing-iros-2026/">6th RoboRacer Sim Racing League</a> are now OPEN! Click <a href="https://forms.gle/MiuoSMYQ4z6QACLS6">here</a> to register your team today!
{% endblock %}
