# Project information
site_name: AutoDRIVE Ecosystem
site_url: https://autodrive-ecosystem.github.io
site_author: Tinker Twins
site_description: >-
  AutoDRIVE is envisioned to be an open, comprehensive, flexible, and integrated
  digital twin ecosystem for enhancing autonomous driving research and education.

# Repository
repo_name: Tinker-Twins/AutoDRIVE
repo_url: https://github.com/Tinker-Twins/AutoDRIVE

# Copyright
copyright: Copyright &copy; 2024 <a href="https://tinker-twins.github.io">Tinker Twins</a>

# Configuration
theme:
  name: material
  # custom_dir: material/overrides
  features:
    - announce.dismiss
    # - content.action.edit
    # - content.action.view
    - content.code.annotate
    - content.code.copy
    - content.code.select
    - content.footnote.tooltips
    # - content.tabs.link
    - content.tooltips
    - header.autohide
    - navigation.expand
    # - navigation.footer
    - navigation.indexes
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    - navigation.prune
    - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    - toc.integrate
  language: en
  palette:
    - scheme: default
      primary: stylesheets/extra.css
      accent: light blue
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: stylesheets/extra.css
      accent: light blue
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono
  favicon: assets/favicon.png
  logo: assets/images/AutoDRIVE Extended Logo 3.png

# Customization
extra_css:
  - assets/stylesheets/extra.css

# Plugins
plugins:
  - blog
  - search:
      separator: '[\s\u200b\-_,:!=\[\]()"`/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'
  - git-revision-date-localized # https://github.com/timvink/mkdocs-git-revision-date-localized-plugin
  - glightbox # https://squidfunk.github.io/mkdocs-material/reference/images
  # - mkdocs-video
  # - same-dir
  # - minify:
  #     minify_html: true

# Hooks
# hooks:
#   - material/overrides/hooks/shortcodes.py
#   - material/overrides/hooks/translations.py

# Additional configuration
extra:
  generator: false
  status:
    new: Recently added
    deprecated: Deprecated
  analytics:
    provider: google
    property: !ENV GOOGLE_ANALYTICS_KEY
  social:
    - icon: fontawesome/solid/globe
      link: https://autodrive-ecosystem.github.io
    - icon: fontawesome/solid/file
      link: https://doi.org/10.3390/robotics12030077
    - icon: fontawesome/brands/github
      link: https://github.com/autodrive-ecosystem
    - icon: fontawesome/brands/docker
      link: https://hub.docker.com/u/autodriveecosystem
    - icon: fontawesome/brands/youtube
      link: https://www.youtube.com/@autodrive-ecosystem
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/autodrive-ecosystem
    - icon: fontawesome/brands/x-twitter
      link: https://x.com/autodrive_ai
    - icon: fontawesome/brands/instagram
      link: https://www.instagram.com/autodrive_ai

# Extensions
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
      title: CONTENTS
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      emoji_index: !!python/name:material.extensions.emoji.twemoji
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      normalize_issue_symbols: true
      repo_url_shorthand: true
      user: squidfunk
      repo: mkdocs-material
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      auto_append:
        - includes/mkdocs.md
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
      combine_header_slug: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

# Page tree
nav:
  - HOME: index.md
  - COMPETITIONS:
    - competitions/index.md
    - F1TENTH @ IROS 2024: competitions/f1tenth-sim-racing-iros-2024.md
    - F1TENTH @ CDC 2024: competitions/f1tenth-sim-racing-cdc-2024.md