/* COLORS */
/* Style */
:root {
    --md-primary-fg-color: #008DD2;
    --md-accent-fg-color: #008DD2;
    --md-primary-fg-color--dark: #434242;
}
/* Heading */
.md-typeset h1,
.md-typeset h2,
.md-typeset h3 {
    color: #008DD2;
}
/* Links */
.md-content {
    --md-typeset-a-color: #008DD2;
}

/* TABLES */
.md-typeset__table {
    min-width: 100%;
}
.md-typeset table:not([class]) {
    display: table;
}

/* IMAGES */
#imageHyperlink {
    opacity: 0.5;
    filter: alpha(opacity=40);
}
a:hover #imageHyperlink {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

/* LISTS */
.justify-list {
    text-align: justify;
}
.justify-list::before {
    content: "";
    display: block;
    width: 100%;
}

/* ADMONITIONS */
.admonition {
    text-align: justify;
}
.admonition .admonition-content {
    text-align: justify;
}
.abstract {
    text-align: justify;
}

/* GRID CARDS */
.grid {
    text-align: justify;
}
.grid .grid-content {
    text-align: justify;
}